streamlit==1.47.1

langchain==0.3.27
langchain-community==0.3.27
langchain-google-genai==2.1.9
langgraph==0.6.4

google-genai==1.28.0

faiss-cpu==1.11.0.post1
pypdf==5.9.0
PyMuPDF==1.26.3
python-dotenv==1.1.1
